.graph-canvas {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.small-graph-canvas {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.block-content {
    margin: 25px;
}