
.right {
    padding-left: 50px;
}

.year-dropdown {
    text-align: left;
}

.btn-primary {
    background-color: rgba(94, 140, 97, 1);
    border: rgba(94, 140, 97, 1);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  background-color: #4D7350;
  border-color: #4D7350;
}

.page-head {
    margin-top: -20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 0;
    color: white;
    background-color: rgba(94, 140, 97, 1);
}

.heading {
    margin-left: 15px;
    margin-top: -10px;
}

.egridMap {
    margin-top: -15px;
}

.locationComparisonButton {
    margin-top: 25px;
}

.tree-row {
    background-size: cover;
    background: url(/static/img/plane-1469825_1920_cropped2.jpg);
    color: white;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: -20px;
}

.tree-header {
    /*margin-left: 25px;*/
    text-align: center;
}
