

.small-graph-canvas {
    margin-left: auto;
    margin-right: auto;
}

.block-content {
    margin: 25px;
}

.year-dropdown {
    text-align: left;
}

.btn-primary {
    background-color: rgba(5,69,10,1);
    border: rgba(5,69,10,1);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  background-color: green;
  border-color: green;
}

.page-head {
    margin-top: -25px;
    margin-left: -30px;
    margin-right: -25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 0;
    color: white;
    background-color: rgba(24,50,0,1);
}

.heading {
    margin-left: 15px;
    margin-top: -10px;
}

.yearDropdown {
    margin-top: 25px;
}

.egridMap {
    margin-top: -15px;
}

.locationComparisonButton {
    margin-top: 25px;
}

.tree-row {
    background-size: cover;
    background: url(/static/img/plane-1469825_1920_cropped2.jpg) no-repeat;
    color: white;
    padding-top: 120px;
    padding-bottom: 120px;
}



