{% extends 'base.html' %}

{% block title %} Carb Log {% endblock %}

{% block content %}

<!-- Electricity ########################################################## -->

<h1>Electricity Data</h1>
{% if electricity_logs %}
    <table>
        <tr>
            <th>Begin Date</th>
            <th>End Date</th> 
            <th>killowatt hours</th>
            <th>Residence</th>
            <th>Pounds of CO2</th>
            <th></th>
        </tr>
        {% for log in electricity_logs %}
        <tr>
            <td>{{ log.start_date }}</td>
            <td>{{ log.end_date }}</td>
            <td>{{ log.kwh }}</td>
            <td>{{ log.residence.name_or_address }}</td>
            <td>{{ log.co2_calc() }}</td>
            <td><button type="button" class="edit-kwh-log" 
                data-id="{{ log.elect_id }}"
                data-start-date="{{ log.start_date }}"
                data-end-date="{{ log.end_date }}"
                data-kwh="{{ log.kwh }}"
                data-residence="{{ log.residence.name_or_address }}">
                Edit</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No electricy data added yet</h2>
{% endif %}

<br><br>

<!-- form for adding new kwh (will be a bootstrap modal) -->
<form action="/add-kwh" method="POST">
    Begin Date: <input type="date" name="start_date" required> <br>
    End Date: <input type="date" name="end_date" required> <br>
    kwh <input type="number" name="kwh" required> <br>
    
    Residence <select name="residence">
    {% for residence in residences %}
        <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
    {% endfor %}
    </select><br>
    <input type="submit" value="Add kwh">
</form>

<!-- form for editing kwh entries (will be a bootstrap modal) -->
<form action="/edit-kwh" id="edit-kwh" method="POST" hidden>
    <input type="text" name="elect_id" id="elect-id" value="" hidden> <br>
    Begin Date: <input type="date" name="start_date" id="start-date" required> <br>
    End Date: <input type="date" name="end_date" id="end-date" required> <br>
    kwh <input type="number" name="kwh" id="kwh" required> <br>
    Residence <select name="residence" id="residence">
    {% for residence in residences %}
        <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
    {% endfor %}
    </select><br>
    <input type="submit" id="submit-kwh-edit" value="Edit kwh">
</form>

<script type="text/javascript">
    
    $(".edit-kwh-log").on("click", editResidence);  
    
    function editResidence() {
        var electId = $(this).data("id");
        var currentStartDate = $(this).data("startDate");
        var currentEndDate = $(this).data("endDate");
        var currentKwh = $(this).data("kwh");
        var currentResidence = $(this).data("residence");

        $("#edit-kwh").show();

        $("#elect-id").val(electId);
        $("#start-date").val(currentStartDate);
        $("#end-date").val(currentEndDate);
        $("#kwh").val(currentKwh);
        $("#residence").val(currentResidence);
    }

    $("#submit-kwh-edit").on("submit", function () {
        $("#edit-kwh").hide();
    })

</script>

<!-- Natural Gas ########################################################## -->

<h1>Natural Gas Data</h1>

{% if ng_logs %}
    <table>
        <tr>
            <th>Begin Date</th>
            <th>End Date</th> 
            <th>Therms of NG</th>
            <th>Residence</th>
            <th>Poundss of CO2</th>
            <th></th>
        </tr>
        {% for log in ng_logs %}
        <tr>
            <td>{{ log.start_date }}</td>
            <td>{{ log.end_date }}</td>
            <td>{{ log.therms }}</td>
            <td>{{ log.residence.name_or_address }}</td>
            <td>{{ log.co2_calc() }}</td>
            <td><button type="button" class="edit-ng-log" 
                data-id="{{ log.ng_id }}"
                data-start-date="{{ log.start_date }}"
                data-end-date="{{ log.end_date }}"
                data-therms="{{ log.therms }}"
                data-residence="{{ log.residence.name_or_address }}">
                Edit</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No natural gas data added yet</h2>
{% endif %}

<br>
<br>
<!-- form for adding new natural gas (will be a bootstrap modal) -->
<form action="/add-ng" method="POST">
    Begin Date: <input type="date" name="start_date" required> <br>
    End Date: <input type="date" name="end_date" required> <br>
    therms of natural gas <input type="number" name="therms" required> <br>
    
    Residence <select name="residence">
    {% for residence in residences %}
        <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
    {% endfor %}
    </select>
    <br>

    <input type="submit" value="Add NG">
</form>

<!-- form for editing natural gas entries (will be a bootstrap modal) -->
<form action="/edit-ng" id="edit-ng" method="POST" hidden>
    <input type="text" name="elect_id" id="elect-id" value="" hidden> <br>
    Begin Date: <input type="date" name="start_date" id="start-date" required> <br>
    End Date: <input type="date" name="end_date" id="end-date" required> <br>
    therms <input type="number" name="therms" id="therms" required> <br>
    Residence <select name="residence" id="residence">
    {% for residence in residences %}
        <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
    {% endfor %}
    </select><br>
    <input type="submit" id="submit-ng-edit" value="Edit NG">
</form>

<!-- Transportation ####################################################### -->

<h1>Transportation Data</h1>

{% if trip_logs %}
    <table>
        <tr>
            <th>Date</th>
            <th>Miles</th> 
            <th>Car</th>
            <th>Pounds of CO2</th>
        </tr>
        {% for log in trip_logs %}
        <tr>
            <td>{{ log.date }}</td>
            <td>{{ log.miles }}</td>
            <td>{{ log.car.make }} {{ log.car.model }} {{ log.car.year }}</td>
            <td>{{ log.co2_calc() }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No transportation data added yet</h2>
{% endif %}

<br>
<br>
<form action="/add-trip" method="POST">
    Date: <input type="date" name="date" required> <br><br>
    Enter Distance in Miles: <input type="number" name="miles" id="distance" step="0.01" required> <br>
    or <br>
    Enter the start and end locations: <br>
    Start: <input type="text" name="origin" id="origin"> <br>
    End: <input type="text" name="destination" id="destination"><br>
    <button type="button" id="distance-button">Calculate Distance</button> <br><br>

    
    Car <select name="car">
    {% for usercar in usercars %}
        <option value="{{ usercar.car.make }}|{{ usercar.car.model }}|{{ usercar.car.year }}">
        {{ usercar.car.make }} {{ usercar.car.model }} {{ usercar.car.year }}</option>
    {% endfor %}
        <option value="Other">Other</option>
    </select>
    <br><br>

    <input type="submit" value="Add trip">
</form>

<script type="text/javascript">
    "use strict";

    $("#distance-button").on("click", getDistance);
    
    function getDistance() {
        var origin = $("#origin");
        var destination = $("#destination");

        var data = {};
            data.origin = origin.val();
            data.destination = destination.val();

        $.ajax({
            url: "/get-distance",
            data: data,
            success: function(response) {
                // change the distance in the dom to the response
                console.log(response);
                $("#distance").val(response);
            }
        })
    }

    


</script>


{% endblock %}