{% extends 'base.html' %}

{% block title %} Carb Log {% endblock %}

{% block content %}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Electricity ########################################################## -->

<h1>Electricity Data</h1>
{% if electricity_logs %}
    <table>
        <tr>
            <th>Begin Date</th>
            <th>End Date</th> 
            <th>killowatt hours</th>
            <th>Residence</th>
            <th>Pounds of CO2</th>
            <th></th>
        </tr>
        {% for log in electricity_logs %}
        <tr>
            <td>{{ log.start_date }}</td>
            <td>{{ log.end_date }}</td>
            <td>{{ log.kwh }}</td>
            <td>{{ log.residence.name_or_address }}</td>
            <td>{{ log.co2_calc() }}</td>
            <td><button type="button" class="edit-kwh-log btn btn-secondary btn-sm"
                data-toggle="modal"
                data-target="#editKwhModal"
                data-id="{{ log.elect_id }}"
                data-start-date="{{ log.start_date }}"
                data-end-date="{{ log.end_date }}"
                data-kwh="{{ log.kwh }}"
                data-residence="{{ log.residence.name_or_address }}">
                Edit</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No electricy data added yet</h2>
{% endif %}

<br><br>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addKwhModal">
  Add Electricty Data
</button>

<!-- Add Modal -->
<div class="modal fade" id="addKwhModal" tabindex="-1" role="dialog" aria-labelledby="addKwhModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addKwhModalLabel">Add Electricty Data</h4>
      </div>
      
      <form action="/add-kwh" method="POST">
      <!-- form for adding new kwh -->
      <div class="modal-body">
          Begin Date: <input type="date" name="start_date" required> <br>
          End Date: <input type="date" name="end_date" required> <br>
          kwh <input type="number" name="kwh" required> <br>

          Residence <select name="residence">
          {% for residence in residences %}
              <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
          {% endfor %}
          </select><br>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" value="Add kwh">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editKwhModal" tabindex="-1" role="dialog" aria-labelledby="editKwhModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editKwhModalLabel">Edit Electricty Data</h4>
      </div>
      
      <form action="/edit-kwh" id="edit-kwh" method="POST">
      <!-- form for editing new kwh -->
      <div class="modal-body">
        <input type="text" name="elect_id" id="elect-id" value="" hidden> <br>
        Begin Date: <input type="date" name="start_date" id="e-start-date" required> <br>
        End Date: <input type="date" name="end_date" id="e-end-date" required> <br>
        kwh <input type="number" name="kwh" id="kwh" required> <br>
        Residence <select name="residence" id="e-residence">
        {% for residence in residences %}
            <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
        {% endfor %}
        </select><br>
        <input type="submit" id="submit-kwh-edit" value="Edit kwh">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="submit-kwh-edit" value="Edit kwh">Edit</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    
    $(".edit-kwh-log").on("click", editResidence);  
    
    function editResidence() {
        var electId = $(this).data("id");
        var currentStartDate = $(this).data("startDate");
        var currentEndDate = $(this).data("endDate");
        var currentKwh = $(this).data("kwh");
        var currentResidence = $(this).data("residence");

        $("#edit-kwh").show();

        $("#elect-id").val(electId);
        $("#e-start-date").val(currentStartDate);
        $("#e-end-date").val(currentEndDate);
        $("#kwh").val(currentKwh);
        $("#e-residence").val(currentResidence);
    }

    $("#submit-kwh-edit").on("submit", function () {
        $("#edit-kwh").hide();
    })

</script>

<!-- Natural Gas ########################################################## -->

<h1>Natural Gas Data</h1>

{% if ng_logs %}
    <table>
        <tr>
            <th>Begin Date</th>
            <th>End Date</th> 
            <th>Therms of NG</th>
            <th>Residence</th>
            <th>Poundss of CO2</th>
            <th></th>
        </tr>
        {% for log in ng_logs %}
        <tr>
            <td>{{ log.start_date }}</td>
            <td>{{ log.end_date }}</td>
            <td>{{ log.therms }}</td>
            <td>{{ log.residence.name_or_address }}</td>
            <td>{{ log.co2_calc() }}</td>
            <td><button type="button" class="edit-ng-log btn btn-secondary btn-sm"
                data-toggle="modal"
                data-target="#editNgModal" 
                data-id="{{ log.ng_id }}"
                data-start-date="{{ log.start_date }}"
                data-end-date="{{ log.end_date }}"
                data-therms="{{ log.therms }}"
                data-residence="{{ log.residence.name_or_address }}">
                Edit</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No natural gas data added yet</h2>
{% endif %}

<br>
<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addNgModal">
  Add Natural Gas Data
</button>

<!-- Modal -->
<div class="modal fade" id="addNgModal" tabindex="-1" role="dialog" aria-labelledby="addNgModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addNgModalLabel">Add Natural Gas Data</h4>
      </div>
      
      <form action="/add-ng" method="POST">
      <!-- form for adding new ng -->
      <div class="modal-body">
          Begin Date: <input type="date" name="start_date" required> <br>
          End Date: <input type="date" name="end_date" required> <br>
          therms of natural gas <input type="number" name="therms" required> <br>
    
          Residence <select name="residence">
          {% for residence in residences %}
              <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
          {% endfor %}
          </select><br>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" value="Add NG">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editNgModal" tabindex="-1" role="dialog" aria-labelledby="editNgModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editKwhModalLabel">Edit Natural Gas Data</h4>
      </div>
      
      <form action="/edit-ng" id="edit-ng" method="POST">
      <!-- form for editing new kwh -->
      <div class="modal-body">
        <input type="text" name="ng_id" id="ng-id" value="" hidden> <br>
        Begin Date: <input type="date" name="start_date" id="ng-start-date" required> <br>
        End Date: <input type="date" name="end_date" id="ng-end-date" required> <br>
        therms <input type="number" name="therms" id="therms" required> <br>
        Residence <select name="residence" id="ng-residence">
        {% for residence in residences %}
            <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
        {% endfor %}
        </select><br>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="submit-ng-edit" value="Edit NG">Edit</button>
      </div>
      </form>

    </div>
  </div>
</div>

<script type="text/javascript">
    
    $(".edit-ng-log").on("click", editResidence);  
    
    function editResidence() {
        var ngId = $(this).data("id");
        var currentStartDate = $(this).data("startDate");
        var currentEndDate = $(this).data("endDate");
        var currentTherms = $(this).data("therms");
        var currentResidence = $(this).data("residence");

        $("#edit-ng").show();

        $("#ng-id").val(ngId);
        $("#ng-start-date").val(currentStartDate);
        $("#ng-end-date").val(currentEndDate);
        $("#therms").val(currentTherms);
        $("#ng-residence").val(currentResidence);
    }

    $("#submit-ng-edit").on("submit", function () {
        $("#edit-ng").hide();
    })

</script>

<!-- Transportation ####################################################### -->

<h1>Transportation Data</h1>

{% if trip_logs %}
    <table>
        <tr>
            <th>Date</th>
            <th>Miles</th> 
            <th>Car</th>
            <th>Pounds of CO2</th>
            <th></th>
        </tr>
        {% for log in trip_logs %}
        <tr>
            <td>{{ log.date }}</td>
            <td>{{ log.miles }}</td>
            <td>{{ log.usercar.make }} {{ log.usercar.model }} {{ log.usercar.year }}</td>
            <td>{{ log.co2_calc() }}</td>
            <td><button type="button" class="edit-trip-log btn btn-secondary btn-sm"
                data-toggle="modal"
                data-target="#editTripModal"
                data-id="{{ log.trip_id }}"
                data-date="{{ log.date }}"
                data-distance="{{ log.miles }}"
                data-usercar-id="{{ log.usercar.usercar_id }}">
                Edit</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No transportation data added yet</h2>
{% endif %}

<br>
<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addTripModal">
  Add Trip Data
</button>

<!-- Modal -->
<div class="modal fade" id="addTripModal" tabindex="-1" role="dialog" aria-labelledby="addTripModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addTripModalLabel">Add Trip Data</h4>
      </div>
      
      <form action="/add-trip" method="POST">
      <!-- form for adding new ng -->
      <div class="modal-body">
        Date: <input type="date" name="date" required> <br><br>
        
        Enter Distance in Miles: <input type="number" name="miles" id="distance" step="0.01" required> <br>
        
        or <br>
        
        Enter the start and end locations: <br>
        Start: <input type="text" name="origin" id="origin"> <br>
        End: <input type="text" name="destination" id="destination"><br>
        <button type="button" id="distance-button">Calculate Distance</button> <br><br>

        Car <select name="car">
        {% for usercar in usercars %}
            <option value="{{ usercar.usercar_id }}">
            {{ usercar.make }} {{ usercar.model }} {{ usercar.year }}</option>
        {% endfor %}
            <option value="Other">Other</option>
        </select>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" value="Add Trip">Add</button>
      </div>
      </form>

    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editTripModal" tabindex="-1" role="dialog" aria-labelledby="editTripModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editTripModalLabel">Edit Trip Data</h4>
      </div>
      
      <form action="/edit-trip" id="edit-trip" method="POST">
      <!-- form for editing new kwh -->
      <div class="modal-body">
        <input type="text" name="trip_id" id="trip-id" value="" hidden> <br>
        Date: <input type="date" name="date" id ="trip-date" required> <br><br>
        Enter Distance in Miles: <input type="number" name="miles" id="trip-distance" step="0.01" required> <br>
        or <br>
        Enter the start and end locations: <br>
        Start: <input type="text" name="origin" id="trip-origin"> <br>
        End: <input type="text" name="destination" id="trip-destination"><br>
        <button type="button" id="edit-distance-button">Calculate Distance</button> <br><br>

        Car <select name="car" id="trip-car">
        {% for usercar in usercars %}
            <option value="{{ usercar.usercar_id }}">
            {{ usercar.make }} {{ usercar.model }} {{ usercar.year }}</option>
        {% endfor %}
            <option value="Other">Other</option>
        </select>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="submit-trip-edit" value="Edit trip">Edit</button>
      </div>
      </form>

    </div>
  </div>
</div>

<script type="text/javascript">
    "use strict";

    $("#distance-button").on("click", getDistance);
    
    function getDistance() {
        var origin = $("#origin");
        var destination = $("#destination");

        var data = {};
            data.origin = origin.val();
            data.destination = destination.val();

        $.ajax({
            url: "/get-distance",
            data: data,
            success: function(response) {
                // change the distance in the dom to the response
                $("#distance").val(response);
            }
        })
    }

    $("#edit-distance-button").on("click", editDistance);
    
    function editDistance() {
        var origin = $("#trip-origin");
        var destination = $("#trip-destination");

        var data = {};
            data.origin = origin.val();
            data.destination = destination.val();

        $.ajax({
            url: "/get-distance",
            data: data,
            success: function(response) {
                // change the distance in the dom to the response
                console.log(response);
                $("#trip-distance").val(response);
            }
        })
    }

    $(".edit-trip-log").on("click", editTrip);  
    
    function editTrip() {
        var tripId = $(this).data("id");
        var currentDate = $(this).data("date");
        var currentDistance = $(this).data("distance");
        var currentUserCar = $(this).data("usercarId")

        $("#edit-trip").show();

        $("#trip-id").val(tripId);
        $("#trip-date").val(currentDate);
        $("#trip-distance").val(currentDistance);
        $("#trip-car").val(currentUserCar);
    }

    $("#submit-trip-edit").on("submit", function () {
        $("#edit-trip").hide();
    })

</script>


{% endblock %}