{% extends 'base.html' %}

{% block title %} Carb Log {% endblock %}

{% block content %}

<!-- Electricity ########################################################## -->

<h1>Electricity Data</h1>
{% if electricity_logs %}
    <table>
        <tr>
            <th>Begin Date</th>
            <th>End Date</th> 
            <th>killowatt hours</th>
            <th>Residence</th>
            <th>Pounds of CO2</th>
        </tr>
        {% for log in electricity_logs %}
        <tr>
            <th>{{ log.start_date }}</th>
            <th>{{ log.end_date }}</th>
            <th>{{ log.kwh }}</th>
            <th>{{ log.residence.name_or_address }}</th>
            <th>{{ log.co2_calc() }}</th>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No electricy data added yet</h2>
{% endif %}

<br>
<br>
<form action="/add-kwh" method="POST">
    Begin Date: <input type="date" name="start_date" required> <br>
    End Date: <input type="date" name="end_date" required> <br>
    kwh <input type="number" name="kwh" required> <br>
    
    Residence <select name="residence">
    {% for residence in residences %}
        <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
    {% endfor %}
    </select>
    <br>

    <input type="submit" value="Add kwh">
</form>

<!-- Natural Gas ########################################################## -->

<h1>Natural Gas Data</h1>

{% if ng_logs %}
    <table>
        <tr>
            <th>Begin Date</th>
            <th>End Date</th> 
            <th>Therms of NG</th>
            <th>Residence</th>
            <th>Poundss of CO2</th>
        </tr>
        {% for log in ng_logs %}
        <tr>
            <th>{{ log.start_date }}</th>
            <th>{{ log.end_date }}</th>
            <th>{{ log.therms }}</th>
            <th>{{ log.residence.name_or_address }}</th>
            <th>{{ log.co2_calc() }}</th>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No natural gas data added yet</h2>
{% endif %}

<br>
<br>
<form action="/add-ng" method="POST">
    Begin Date: <input type="date" name="start_date" required> <br>
    End Date: <input type="date" name="end_date" required> <br>
    therms of natural gas <input type="number" name="therms" required> <br>
    
    Residence <select name="residence">
    {% for residence in residences %}
        <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
    {% endfor %}
    </select>
    <br>

    <input type="submit" value="Add ng">
</form>

<!-- Transportation ####################################################### -->

<h1>Transportation Data</h1>

{% if trip_logs %}
    <table>
        <tr>
            <th>Date</th>
            <th>Miles</th> 
            <th>Car</th>
            <th>Pounds of CO2</th>
        </tr>
        {% for log in trip_logs %}
        <tr>
            <th>{{ log.date }}</th>
            <th>{{ log.miles }}</th>
            <th>{{ log.car.make }} {{ log.car.model }} {{ log.car.year }}</th>
            <th>{{ log.co2_calc() }}</th>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No transportation data added yet</h2>
{% endif %}

<br>
<br>
<form action="/add-trip" method="POST">
    Date: <input type="date" name="date" required> <br><br>
    Enter Distance in Miles: <input type="number" name="miles" id="distance" step="0.01" required> <br>
    or <br>
    Enter the start and end locations: <br>
    Start: <input type="text" name="origin" id="origin"> <br>
    End: <input type="text" name="destination" id="destination"><br>
    <button type="button" id="distance-button">Calculate Distance</button> <br><br>

    
    Car <select name="car">
    {% for usercar in usercars %}
        <option value="{{ usercar.car.make }}|{{ usercar.car.model }}|{{ usercar.car.year }}">
        {{ usercar.car.make }} {{ usercar.car.model }} {{ usercar.car.year }}</option>
    {% endfor %}
        <option value="Other">Other</option>
    </select>
    <br><br>

    <input type="submit" value="Add trip">
</form>

<script type="text/javascript">
    "use strict";

    $("#distance-button").on("click", getDistance);
    
    function getDistance() {
        var origin = $("#origin");
        var destination = $("#destination");

        var data = {};
            data.origin = origin.val();
            data.destination = destination.val();

        $.ajax({
            url: "/get-distance",
            data: data,
            success: function(response) {
                // change the distance in the dom to the response
                $("#distance").val(response);
            }
        })
    }

    


</script>


{% endblock %}