{% extends 'base.html' %}

{% block title %} CO2 Dashboard {% endblock %}

{% block content %}

<div class="container-fluid page-head">   
  <div class="heading">
    <h1>{{ name }}'s Carbon Footprint </h1>
  </div>
</div>
<br>

{% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
{% endfor %}

<div class="row tree-row">
  {% if co2_per_yr.get(this_year) %}
    <h1>Your Carbon Footprint is {{ co2_per_yr[this_year]["yr_projected"] }} pounds per year.</h1>

    <h1>It takes {{ trees }} trees to offset that much CO<sub>2</sub></h1>
  {% endif %}
</div>
<br><br><br>

<div class="row">
  <div class="col-sm-8">
    <div id="co2-per-year">
      <h3>Your Carbon Footprint per year</h3>
      <div>
        <canvas id="yearBarChart"></canvas>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<div class="row">
  <div class="col-sm-8">
    <div id="co2-trend-chart">
      <h3>Carbon footprint per month</h3>
      <form action="/select-year">
          <select name="year", id="trend-year">
          {% for year in years %}
              <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
          </select>
      </form>
      <div>
          <canvas id="lineGraph"></canvas>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<div class="row">
  <div class="col-sm-8">
    <div id="co2-by-source-chart"> 
      <h3>Compare the contribution of each CO<sub>2</sub> source.</h3>
      <form action="/select-year">
        <select name="year", id="donut-year">
        <option selected="selected">ALL YEARS</option>
        {% for year in years %}
          <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
        </select>
      </form>
      <div><canvas id="donutChart"></canvas></div>
    </div>
  </div>
</div>
<br><br><br>

<div class="row">
  <div class="col-sm-8">
    <div id="co2-by-day-of-week">
      <h3>What day of the week do you have the highest footprint?</h3>
      <form action="/select-year">
        <select name="year", id="weekday-year">
          {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
          </select>
      </form>
      <div><canvas id="weekdayBarChart"></canvas></div>
    </div>
  </div>
</div>
<br><br><br>

<div id="co2-by-location">
    <h3>Your Electricity Carbon Footprint varies by location.</h3>
    <h4>Change the location to see what your footprint would be if you moved.</h4><br>

    <form action="/get-zipcode">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="location-year">Choose Year</label>
            <select name="year", id="location-year" class="form-control">
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="city">New City</label>    
            <input type="text" name="city" id="city" class="form-control" placeholder="City", required>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" name="state" id="state" class="form-control" placeholder="State", maxlength="2" required>
          </div>
        </div>
        <input type="text" name="zipcode" id="zipcode" hidden>
        <div class="col-sm-2 locationComparisonButton">
          <input type="submit" class="btn" id="new-location-button" value="See Comparison">
      </div>
      </div>
        
    </form>

    <h3><div id="comparison-statement"></div></h3>

  <div class="row" id="locationComparisonRow" hidden>
    <div class="col-sm-4">
      <div class="carComparisonTitle"><h3>Location Comparison</h3></div><br>
      <table id="location-comparison" class = "table table-condensed">
        <tr>
          <th></th>
          <th>Current Location</th> 
          <th>New Location</th>
        </tr>
        <tr>
          <td>Year Total</td>
          <td id="current-yr-total"></td>
          <td id="new-yr-total"></td>
        </tr>
        <tr>
          <td>Daily Rate</td>
          <td id="current-dly-rate"></td>
          <td id="new-dly-rate"></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-8">
      <div><canvas id="locationBarChart"></canvas></div>
    </div>
</div>


<br><br><br><br><br><br><br>

<div id="co2-by-car">
    <h3>Your Transportation Carbon Footprint varies by car type.</h3>
    <h4>Choose a car to see what your footprint would be drove a different car.</h4>

    <form action="/co2-other-car.json">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="trip_year">Choose Year</label>
            <select name="trip_year", id="trip-year" class="form-control">
              {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="make">Choose your car</label>
            <select name="car", id="my-car" class="form-control">
              {% for usercar in usercars %}
                <option value="{{ usercar.usercar_id }}">
                {{ usercar.make }} {{ usercar.model }} {{ usercar.year }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <h4>Find a new car</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="make">Make</label>
            <select name="make", id="addMake" class="form-control" required>
            <option selected="selected" disabled="disabled">Select Car Make</option>
            {% for make in makes %}
              <option value="{{ make }}">{{ make }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="addModel">Model</label>
            <select name="model", id="addModel" class="form-control" required disabled></select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="addCarYear">Year</label>
            <select name="car_year", id="addCarYear" class="form-control" required disabled></select>
          </div>
        </div>
      </div>
    </div>
      <!-- <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="addTransmission">Transmission (optional)</label>
            <select name="transmission", id="addTransmission" class="form-control" disabled></select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="addCylinders">Cylinders (optional)</label>
            <select name="cylinders", id="addCylinders" class="form-control" disabled></select>
          </div>
        </div>
      </div> -->
      <input type="submit" id="new-car-button" class="btn" value="See Comparison">
    </form>

    <h3><div id="car-comparison-statement"></div></h3>

  <div class="row" id="carComparisonRow" hidden>
    <div class="col-sm-4">
      <div class="carComparisonTitle"><h3>Car Comparison</h3></div><br>
      <table id="car-comparison" class="table">
        <tr>
          <th></th>
          <th>Current car</th> 
          <th>New Car</th>
        </tr>
        <tr>
          <td>Year Total</td>
          <td id="currentCar-yr-total"></td>
          <td id="newCar-yr-total"></td>
        </tr>
        <tr>
          <td>Daily Rate</td>
          <td id="currentCar-dly-rate"></td>
          <td id="newCar-dly-rate"></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-8">
      <div><canvas id="carBarChart"></canvas></div>
    </div>
  </div>

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script type="text/javascript" src="static/homepage.js"></script>
<script type="text/javascript" src="static/car-dropdowns.js"></script>

{% endblock %}