{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<h1>Homepage</h1>
{% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
{% endfor %}

<a href="/profile">profile</a><br>

<a href="/carbon-log">Add Data</a>


<div class="co2-by-source-chart">
    <h3>How much does each CO2 sources contribute to your total footprint?</h3>
    <canvas id="donutChart"></canvas>
</div>

<script type="text/javascript" src="static/charts.js"></script>

{% endblock %}