{% extends 'base.html' %}

{% block title %} Electricity Log {% endblock %}

{% block content %}

<h1>Electricity Data</h1>

 {% if electricity_logs %}
 <table class="table-condensed">
    <tr>
        <th></th>
        <th>CO2 Total</th> 
        <th>CO2 Avg per Month</th>
        <th>CO2 Avg per Day</th>
    </tr>
    {% for year in summary %}
    <tr>
        <td><strong>{{ summary[year]["row_label"] }}</strong></td> 
        <td>{{ summary[year]["total"] }}</td>
        <td>{{ summary[year]["monthly_avg"] }}</td> 
        <td>{{ summary[year]["daily_avg"] }}</td> 
    </tr>
    {% endfor %}
 </table><br>
 {% endif %}

 <div id="co2-trend-chart">
    <h3>Carbon footprint per month</h3>

    <form action="/select-year">
        <select name="year", id="trend-year">
        {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
        </select>
    </form>
    <div class="small-graph-canvas">
        <canvas id="lineGraph"></canvas>
    </div>
</div>
<br><br>

 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addKwhModal">
  Add Electricty Data
</button><br><br>

{% if electricity_logs %}
    <table class="table table-striped">
        <tr>
            <th>Begin Date</th>
            <th>End Date</th> 
            <th>killowatt hours</th>
            <th>Residence</th>
            <th>Pounds of CO2</th>
            <th></th>
        </tr>
        {% for log in electricity_logs %}
        <tr>
            <td>{{ log.start_date }}</td>
            <td>{{ log.end_date }}</td>
            <td>{{ log.kwh }}</td>
            <td>{{ log.residence.name_or_address }}</td>
            <td>{{ log.co2_calc() }}</td>
            <td><button type="button" class="edit-kwh-log btn btn-secondary btn-sm"
                data-toggle="modal"
                data-target="#editKwhModal"
                data-id="{{ log.elect_id }}"
                data-start-date="{{ log.start_date }}"
                data-end-date="{{ log.end_date }}"
                data-kwh="{{ log.kwh }}"
                data-residence="{{ log.residence.name_or_address }}">
                Edit</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No electricy data added yet</h2>
{% endif %}

<!-- Add Modal -->
<div class="modal fade" id="addKwhModal" tabindex="-1" role="dialog" aria-labelledby="addKwhModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addKwhModalLabel">Add Electricty Data</h4>
      </div>
      
      <form action="/add-kwh" method="POST">
      <!-- form for adding new kwh -->
      <div class="modal-body">
          Begin Date: <input type="date" name="start_date" required> <br>
          End Date: <input type="date" name="end_date" required> <br>
          kwh <input type="number" name="kwh" required> <br>

          Residence <select name="residence">
          {% for residence in residences %}
              <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
          {% endfor %}
          </select><br>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" value="Add kwh">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editKwhModal" tabindex="-1" role="dialog" aria-labelledby="editKwhModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editKwhModalLabel">Edit Electricty Data</h4>
      </div>
      
      <form action="/edit-kwh" id="edit-kwh" method="POST">
      <!-- form for editing new kwh -->
      <div class="modal-body">
        <input type="text" name="elect_id" id="elect-id" value="" hidden> <br>
        Begin Date: <input type="date" name="start_date" id="e-start-date" required> <br>
        End Date: <input type="date" name="end_date" id="e-end-date" required> <br>
        kwh <input type="number" name="kwh" id="kwh" required> <br>
        Residence <select name="residence" id="e-residence">
        {% for residence in residences %}
            <option value="{{ residence.name_or_address }}">{{ residence.name_or_address }}</option>
        {% endfor %}
        </select><br>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="submit-kwh-edit" value="Edit kwh">Edit</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    
  $(".edit-kwh-log").on("click", editResidence);  
  
  function editResidence() {
      var electId = $(this).data("id");
      var currentStartDate = $(this).data("startDate");
      var currentEndDate = $(this).data("endDate");
      var currentKwh = $(this).data("kwh");
      var currentResidence = $(this).data("residence");

      $("#edit-kwh").show();

      $("#elect-id").val(electId);
      $("#e-start-date").val(currentStartDate);
      $("#e-end-date").val(currentEndDate);
      $("#kwh").val(currentKwh);
      $("#e-residence").val(currentResidence);
  }

  $("#submit-kwh-edit").on("submit", function () {
      $("#edit-kwh").hide();
  });

// LINE GRAPH ################################################################
    var electricityPrimary = "rgba(75,192,192,1)";
    var electricitySecondary = "rgba(75,192,192,0.6)";

    var myLineChart;
    function updateCo2LineGraph() {

        // Make Donut Chart of percent of different CO2 source types
        var ctx_line = $("#lineGraph");
        var yearData = {};
        yearData.year = $("#trend-year").val();

        if (myLineChart) {
            myLineChart.destroy();
        }
        $.get("/co2-trend.json", yearData, function (response) {

            var data = {
                labels: ["January", "February", "March", "April", "May", "June",
                         "July", "August", "September", "October", "November",
                         "December"],
                datasets: [
                    {
                        label: "Electricity",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: electricitySecondary,
                        borderColor: electricityPrimary,
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: electricityPrimary,
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: electricityPrimary,
                        pointHoverBorderColor: electricityPrimary,
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: response.kwh,
                        spanGaps: false,
                    },
                ]
            };
            
            myLineChart = new Chart(ctx_line, {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            
        });
    }
    updateCo2LineGraph();
    $("#trend-year").on("change", updateCo2LineGraph);

</script>



{% endblock %}