{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<h1>Login</h1>

<form action="/process-login" method="POST">
    email:    <input type="text" name="email"> <br>
    password: <input type="password" name="password"> <br>
<input type="submit" value="Log In">
</form>

{% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
{% endfor %}


<h1>Sign Up</h1>

<form action="/process-signup" method="POST">
    name:     <input type="text" name="name"> <br>
    email:    <input type="text" name="email"> <br>
    password: <input type="password" name="password"> <br>

    <input type="submit" value="Sign Up">
</form>


{% endblock %}



