{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container-fluid page-head">   
  <div class="headingLogIn">
    <h1>Welcome to Calc CO<sub>2</sub></h1>
  </div>
</div>
<br><br>

<div class="container">

  {% for message in get_flashed_messages() %}
      <div>{{ message }}</div>
  {% endfor %}

<div class="row">
  <div class="col-sm-6">
    <h3>Log In with Existing Account</h3><br>

    <form action="/process-login" method="POST">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text", name="email" id="email" class="form-control"></select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password", name="password" id="password" class="form-control"></select>
          </div>
        </div>
      </div>
    <br>

    <button type="submit" class="btn btn-primary" value="Log In"> Log In</button>
    
    </form>
  
  </div>
  <div class="col-sm-6">

    <h3>Create a New Account</h3><br>

    <form action="/process-signup" id="create-account" method="POST">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">Password</label>
            <input type="password" name="password" class="form-control">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" value="Signup">Signup</button>

    </form>
  </div>
</div>
</div>


{% endblock %}



