{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1>{{ name }}'s Profile </h1>

<!-- Residence ############################################################ -->

<h2>Residences</h2>
{% if residences %}
    <table class="table table-striped">
        <tr>
            <th>House Name or Address</th>
            <th>Zipcode</th> 
            <th>Residents</th>
            <th>Default</th>
            <th></th>
        </tr>
        {% for residence in residences %}
        <tr>
            <td>{{ residence.name_or_address }}</td>
            <td>{{ residence.zipcode_id }}</td>
            <td>{{ residence.number_of_residents }}</td>
            <td>{{ residence.is_default }}</td>
            <td><button type="button" class="edit-residence btn btn-secondary btn-sm"
                data-toggle="modal"
                data-target="#editResidenceModal"
                data-id="{{ residence.residence_id }}"
                data-residence-name="{{ residence.name_or_address }}"
                data-zipcode="{{ residence.zipcode_id }}"
                data-residents="{{ residence.number_of_residents }}"
                data-is-default="{{ residence.is_default }}">
                Edit</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No residences added</h2>
{% endif %}
<br>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addResidenceModal">
  Add New Residence
</button>

<!-- Add Modal -->
<div class="modal fade" id="addResidenceModal" tabindex="-1" role="dialog" aria-labelledby="addResidenceModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addResidenceModalLabel">Add New Residence</h4>
      </div>
      
      <form action="/add-residence" id="add-residence" method="POST">
      <!-- form for adding new Residence -->
      <div class="modal-body">
        House Name or Address: <input type="text" name="residence_name"> <br>
        zipcode: <input type="text" name="zipcode"> <br>
        number of residents? <input type="text" name="residents"> <br>
        set as default?: <input type="checkbox" name="default"> <br>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" value="Add Residence">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editResidenceModal" tabindex="-1" role="dialog" aria-labelledby="editResidenceModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editResidenceModalLabel">Edit Residence</h4>
      </div>
      <form action="/edit-residence" id="edit-residence" method="POST">
      <!-- form for editing residence -->
      <div class="modal-body">
        <input type="text" name="residence_id" id="residenceId" value="" hidden> <br>
        House Name or Address: <input type="text" name="residence_name" id="residenceName"> <br>
        zipcode: <input type="text" name="zipcode" id="zipcode"> <br>
        number of residents? <input type="text" name="residents" id="residents"> <br>
        set as default?: <input type="checkbox" name="default" id="isDefault"> <br>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="submit-residence-edit" value="Edit Residence">Edit</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    
    $(".edit-residence").on("click", editResidence);  
    
    function editResidence() {
        var residenceId = $(this).data("id");
        var currentResidenceName = $(this).data("residenceName");
        var currentZipcode = $(this).data("zipcode");
        var currentResidents = $(this).data("residents");
        var currentIsDefault = $(this).data("isDefault");

        $("#edit-residence").show();

        $("#residenceId").val(residenceId);
        $("#residenceName").val(currentResidenceName);
        $("#zipcode").val(currentZipcode);
        $("#residents").val(currentResidents);
        if (currentIsDefault === "True") {
            $("#isDefault").prop("checked", true);
        } else {
            $("#isDefault").prop("checked", false);
        }
    }

    $("#submit-residence-edit").on("submit", function () {
        $("#edit-residence").hide();
    })

</script>

<!-- Cars ################################################################# -->

<h2>Cars</h2>
{% if usercars %}
    <table class="table table-striped">
        <tr>
            <th>Make</th>
            <th>Model</th> 
            <th>Year</th>
            <th>Cylinders</th>
            <th>Transmission</th>
            <th>Default</th>
            <th></th>
        </tr>
        {% for usercar in usercars %}
        <tr>
            <td>{{ usercar.make }}</td>
            <td>{{ usercar.model }}</td>
            <td>{{ usercar.year }}</td>
            <td>{{ usercar.cylinders }}</td>
            <td>{{ usercar.transmission }}</td>
            <td>{{ usercar.is_default }}</td>
            <td><button type="button" class="edit-car btn btn-secondary btn-sm"
                data-toggle="modal"
                data-target="#editCarModal"
                data-rmake="{{ usercar.make }}"
                data-model="{{ usercar.model }}"
                data-year="{{ usercar.year }}"
                data-is-default="{{ usercar.is_default }}">
                Edit</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No cars added</h2>
{% endif %}
<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addCarModal">
  Add New Car
</button>

<!-- Add Modal -->
<div class="modal fade" id="addCarModal" tabindex="-1" role="dialog" aria-labelledby="addCarModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addCarModalLabel">Add New Car</h4>
      </div>
      
      <form action="/add-car" id="add-car" method="POST">
      <!-- form for adding new Car -->
      <div class="modal-body">
        Make: <select name="make", id="make" required>
        <option selected="selected" disabled="disabled">SELECT CAR MAKE</option>
        {% for make in makes %}
            <option value="{{ make }}">{{ make }}</option>
        {% endfor %}
        </select><br>
    
        Model: <select name="model", id="model" required disabled></select><br>
        Year: <select name="year", id="car-year" required disabled></select><br>
        Cylinders (optional): <select name="cylinders", id="cylinders" disabled></select><br>
        Transmission (optional): <select name="transmission", id="transmission" disabled></select><br>
        
        Set as Default?: <input type="checkbox" name="default"> <br>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" value="Add Car">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- <form action="/add-car", id="add-car" method="POST">
    Make: <select name="make", id="make" required>
        <option selected="selected" disabled="disabled">SELECT CAR MAKE</option>
        {% for make in makes %}
            <option value="{{ make }}">{{ make }}</option>
        {% endfor %}
    </select><br>
    
    Model: <select name="model", id="model" required disabled></select><br>
    Year: <select name="year", id="car-year" required disabled></select><br>
    Cylinders (optional): <select name="cylinders", id="cylinders" disabled></select><br>
    Transmission (optional): <select name="transmission", id="transmission" disabled></select><br>
    
    Set as Default?: <input type="checkbox" name="default"> <br>

    <input type="submit" value="Add Car">
</form> -->

<script type="text/javascript" src="static/car-dropdowns.js"></script>



{% endblock %}