{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

<h1>{{ name }}'s Profile </h1>

<!-- Residence ############################################################ -->

<h2>Residences</h2>
{% if residences %}
    <table>
        <tr>
            <th>House Name or Address</th>
            <th>Zipcode</th> 
            <th>Residents</th>
            <th>Default</th>
        </tr>
        {% for residence in residences %}
        <tr>
            <th>{{ residence.name_or_address }}</th>
            <th>{{ residence.zipcode_id }}</th>
            <th>{{ residence.number_of_residents }}</th>
            <th>{{ residence.is_default }}</th>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No residences added</h2>
{% endif %}
<br>

<form action="/add-residence" method="POST">
    House Name or Address: <input type="text" name="name_or_address"> <br>
    zipcode: <input type="text" name="zipcode"> <br>
    number of residents? <input type="text" name="no_residents"> <br>
    set as default?: <input type="checkbox" name="default"> <br>

    <input type="submit" value="Add Residence">
</form>

<!-- Cars ################################################################# -->

<h2>Cars</h2>
{% if usercars %}
    <table>
        <tr>
            <th>Make</th>
            <th>Model</th> 
            <th>Year</th>
            <th>Cylinders</th>
            <th>Default</th>
        </tr>
        {% for usercar in usercars %}
        <tr>
            <th>{{ usercar.car.make }}</th>
            <th>{{ usercar.car.model }}</th>
            <th>{{ usercar.car.year }}</th>
            <th>{{ usercar.car.cylinders }}</th>
            <th>{{ usercar.is_default }}</th>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No cars added</h2>
{% endif %}
<br>

<form action="/add-car", id="add-car" method="POST">
    Make: <select name="make", id="make">
        <option selected="selected" disabled="disabled">SELECT CAR MAKE</option>
        {% for make in makes %}
            <option value="{{ make }}">{{ make }}</option>
        {% endfor %}
    </select><br>
    
    Model: <select name="model", id="model"></select><br>
    Year: <select name="year", id="year"></select><br>
    Cylinders: <select name="cylinders", id="cylinders"></select><br>
    Transmission: <select name="transmission", id="transmission"></select><br>
    
    set as default?: <input type="checkbox" name="default"> <br>

    <input type="submit" value="Add Car">
</form>

<script type="text/javascript">
    "use strict";

    var make = $("#make");
    var model = $("#model");
    var year = $("#year");
    var cylinders = $("#cylinders");
    var transmission = $("#transmission");

    make.on("change", onMakeChange);
    model.on("change", onModelChange);
    year.on("change", onYearChange);
    cylinders.on("change", onCylindersChange);
    transmission.on("change", onTransmissionChange);

    function onMakeChange(evt) {
        var data = {};
        data.make = make.val();

        $.ajax({
            url: "/car-data",
            data: data,
            success: function(response) {
                
                cylinders.empty();
                transmission.empty();
                model.empty();
                year.empty();

                populateModels(response);
                populateYears(response);
            },
            error: function(response) {

            }
        })
    }

    function onModelChange(evt) {
        var data = {};
        data.make = make.val();
        data.model = model.val();

        $.ajax({
            url: "/car-data",
            data: data,
            success: function(response) {
                populateYears(response);

                if (year.val()) {
                    populateCylinders(response);
                    populateTransmissions(response);
                }
            },
            error: function(response) {

            }
        })
    }

    function onYearChange(evt) {
        var data = {};
        data.make = make.val();
        data.year = year.val();

        $.ajax({
            url: "/car-data",
            data: data,
            success: function(response) {
                populateModels(response);

                if (model.val()) {
                    populateCylinders(response);
                    populateTransmissions(response);
                }   
            },
            error: function(response) {

            }
        })
    }

    function populateModels(response) {
        var selectedModel = model.val();
        model.empty();
        model.append("<option value=''>SELECT MODEL</option>");
        var modelsFound = [];

        // create a list of unique models
        $.each(response, function(i, car) {
            console.log(car);
            if ($.inArray(car.model, modelsFound) == -1) {
                modelsFound.push(car.model);
            }
        })
        // sort the list and append it to the Model dropdown list
        $.each(modelsFound.sort(), function(i,carModel) {
            var optionSelected = "";
            // if model has already been selected, keep current model as selected value
            if (carModel == selectedModel) {
                    optionSelected = "selected='selected'";
                }
            model.append("<option " + optionSelected + " value='"+carModel+"'>"+carModel+"</option>");
        })    
    }

    function populateYears(response) {
        var selectedYear = year.val();
        year.empty();
        year.append("<option value=''>SELECT YEAR</option>");
        var yearsFound = [];

        // create a list of unique years
        $.each(response, function(i, car) {
            console.log(car);
            if ($.inArray(car.year, yearsFound) == -1) {
                yearsFound.push(car.year);
            }
        })
        // sort the list and append it to the Year dropdown list
        $.each(yearsFound.sort(), function(i, carYear) {
            var optionSelected = "";
            // if year has already been selected, keep current year as selected value
            if (carYear.toString() == selectedYear) {
                    optionSelected = "selected='selected'";
                }
            year.append("<option " + optionSelected + " value='"+carYear+"'>"+carYear+"</option>");
        })
    }

    function populateCylinders(response) {
        var selectedCylinders = cylinders.val();
        cylinders.empty();
        cylinders.append("<option value=''>SELECT CYLINDERS</option>");
        var cylindersFound = [];

        // create a list of unique cylinders
        $.each(response, function(i, car) {
            if ($.inArray(car.cylinders, cylindersFound) == -1) {
                cylindersFound.push(car.cylinders);
            }
        })
        // sort the list and append it to the Year dropdown list
        $.each(cylindersFound.sort(), function(i, carCylinders) {
            var optionSelected = "";
            // if cylinders has already been selected, keep current cylinders as selected value
            if (carCylinders.toString() == selectedCylinders) {
                    optionSelected = "selected='selected'";
                }

            cylinders.append("<option value='"+carCylinders+"'>"+carCylinders+"</option>");
        })
    }

    function populateTransmissions(response) {
        var selectedTransmission = transmission.val();
        transmission.empty();
        transmission.append("<option value=''>SELECT TRANSMISSION</option>");
        var transmissionsFound = [];

        // create a list of unique transmission
        $.each(response, function(i,car) {
            if ($.inArray(car.transmission, transmissionsFound) == -1) {
                transmissionsFound.push(car.transmission);
            }
        })
        // sort the list and append it to the Year dropdown list
        $.each(transmissionsFound.sort(), function(i, carTransmission) {
            var optionSelected = "";
            // if transmission has already been selected, keep current transmission as selected value
            if (carTransmission.toString() == selectedTransmission) {
                    optionSelected = "selected='selected'";
                }
            transmission.append("<option value='"+carTransmission+"'>"+carTransmission+"</option>");
        })
    }

</script>


{% endblock %}