{% extends 'base.html' %}

{% block title %} Carb Log {% endblock %}

{% block content %}

<h1>Transportation Data</h1>

{% if trip_logs %}
    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Miles</th> 
            <th>Car</th>
            <th>Pounds of CO2</th>
            <th></th>
        </tr>
        {% for log in trip_logs %}
        <tr>
            <td>{{ log.date }}</td>
            <td>{{ log.miles }}</td>
            <td>{{ log.usercar.make }} {{ log.usercar.model }} {{ log.usercar.year }}</td>
            <td>{{ log.co2_calc() }}</td>
            <td><button type="button" class="edit-trip-log" 
                data-id="{{ log.trip_id }}"
                data-date="{{ log.date }}"
                data-distance="{{ log.miles }}"
                data-usercar-id="{{ log.usercar.usercar_id }}">
                Edit</button></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No transportation data added yet</h2>
{% endif %}




{% endblock %}